{% extends 'base.html.twig' %}

{% block title %}
	Recette : {{ recipe.title }}
{% endblock %}

{% block body %}
	<h2>La recette n°
		{{ recipe.id }} :
		{{ recipe.title | upper }}
	</h2>

	<p>
		{{ recipe.content | nl2br }}
	</p>

{% endblock %}
