{% extends 'admin/admin.html.twig' %}

{% block title %}
	{{ 'Nouvelle catégorie' | trans }}
{% endblock %}

{% block body %}
	<h1>{{ 'Ajouter une nouvelle catégorie' | trans }}</h1>


	{{ form(form) }}

{% endblock %}