{% extends 'admin/admin.html.twig' %}

{% block title %}{{ 'Accueil Administration' | trans }}{% endblock %}

{% block body %}
<h1>{{ 'Bienvenue dans l\'Administration !' | trans }}</h1>
{% endblock %}
